@using WebUI.Models
@model MaterialsListViewModel

@{
    ViewBag.Title = "Материалы";
}

@foreach (var material in Model.Materials)
{
    @Html.Partial("_MaterialSummary", material)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, type = Model.CurrentType }))
</div>
